.editor, .editor .gutter {
  background-color: #FFFFFF;
  color: #000000;
}

.editor.is-focused .cursor {
  border-color: #000000;
}

.editor.is-focused .selection .region {
  background-color: #A6CBFF;
}

.editor.is-focused .line-number.cursor-line-no-selection, .editor.is-focused .line.cursor-line {
  background-color: rgba(0, 0, 0, 0.07);
}

.comment {
  color: #008D00;
}

.meta.preprocessor, .keyword.control.import {
  color: #7C4625;
}

.string {
  color: #DD0004;
}

.constant.numeric {
  color: #1C00CF;
}

.constant.language {
  color: #C800A7;
}

.constant.character, .constant.other {
  color: #26474B;
}

.variable.language {
  color: #C800A7;
}

.variable.other {
  color: #5C2699;
}

.keyword {
  color: #C800A7;
}

.storage {
  color: #C800A7;
}

.entity.name.class {
  color: #5C2699;
}

.entity.other.inherited-class {
  color: #5C2699;
}

.entity.name.function {
  color: #000000;
}

.variable.parameter {
  color: #000000;
}

.entity.name.tag {
  color: #790EAD;
}

.entity.other.attribute-name {
  color: #450084;
}

.support.function {
  color: #2E0D6E;
}

.support.function.any-method {
  color: #42257C;
}

.support.constant {
  color: #450084;
}

.support.type, .support.class {
  color: #790EAD;
}

.support.other.variable {
  color: #790EAD;
}

.invalid {
}

.markup.bold {
  font-weight: bold;
  color: #008D00;
}

.markup.italic {
  font-style: italic;
  color: #DD0004;
}

.markup.underline {
  color: #42257C;
}

.markup.quote {
  font-style: italic;
}

.markup.list {
  font-style: italic;
  color: #6A0C98;
}

.markup.heading {
  font-weight: bold;
  color: #42257C;
}
